/* Project: Projector */
/* Thomas Shaver */
/* Term 1209 */
body {
    background: #EBEFED;
    background: -webkit-linear-gradient(
        left,
        #CBCFCD 10%,
        rgba( 255, 255, 255, 0 ) 50%
    );
    text-align: center;
    height: 100%;
}

h1 {
    font-size: 1.6em;
}

h2 {
    color: rgba( 90, 90, 255, 0.9 );
    font-size: 1.1em;
    line-height: 1.1em;
    background: -webkit-linear-gradient(
        left,
        #CBCFCD 10%,
        rgba( 0, 255, 255, 0.5 ) 80%
        #FFF 80%
    );
}

h3 {
    font-size: 0.95em;
}

a {
    color: #9900CC;
}

fieldset {
    background: #DBDFDD;
    background: -webkit-linear-gradient(
        315deg,
        #FFF 35%,
        rgba( 180, 180, 180, 0 ));
    border-color: #FBFB00;
    border-radius: 1em;
    width: 13em;
    margin-left: -1.4em;
}

ul {
    line-height: 0.94em;
    margin-top: 0.5em;
    margin-bottom: 0.75em;
    list-style: none;
}


input[type="submit"] {
    border: 0.2em solid rgba( 100, 50, 75, 0.5 );
    background: #229;
    background: -webkit-linear-gradient(
        top,
        #FFF 20%,
        rgba( 130, 120, 150, 0.25 ) 65%,
        rgba( 200, 200, 230, 0.25 ) 95%
    );
}

.cta {
    background: -webkit-linear-gradient(
        #FFF 30%,
        rgba( 120, 120, 150, 0.25 ) 65%,
        rgba( 200, 200, 230, 0.25 ) 95%
    );
    height: auto;
}

.chunk {
    width: 15em;
    text-align: center;
    margin-left: 1em;
}

.listing {
    display: block;
    padding: 0.5em;
    width: 13em;
    border: 0.2em double #AAB;
    border-radius: .75em;
    border-top-right-radius: 9em;
    -webkit-box-shadow: -0.25em -0.25em 0 0 rgba(80,80,120,0.75);
    list-style: none;
    text-align: left;
    text-decoration: none;
    background: #484848;
    background: -webkit-linear-gradient(
        top,
        #FFF 86%,
        rgba( 220, 220, 0, 0.5 ) 95%
    );
}

.item {
    color: rgba( 80, 80, 80, 0.85 );
    line-height: 0.9em;
    margin-top: 0.4em;
    margin-bottom: 0.3em;
}

#errors {
    color: #D00000;
}